<!DOCTYPE html>

<%- include('../includes/head', {title: 'Create New  Articles | Johannes Blog'}) %>
<body>
    <%- include('../includes/header') %>

    <main>
        <div class="container">
            <h1>Create a new article</h1> 

            <form action="/articles" method="post">
                <label for="article-title-input">Title</label><br>
                <input name="title" class="input-item" id="article-title-input" type="text" placeholder="enter title here" required><br>

                <label for="article-content-textarea">Content</label>
                <textarea name="content" id="article-content-textarea" placeholder="enter content of article" required></textarea>
                <input name="date" type="date" placeholder="08.10.1999" required><br>

                <button class="btn">publish</button>
            </form>
        </div>
        
    </main>

    <%- include('../includes/footer') %>
    
</body>
</html>