<!DOCTYPE html>

<%- include('../includes/head', {title: 'Create New  Articles | Johannes Blog'}) %>
<body>
    <%- include('../includes/header') %>

    <main>
        <h2>Enter Admin Password</h2>

        <form action="/admin" method="post">
            <input name="password" type="password" aria-label="password" required><br>
            <button>publish</button>
        </form>
    </main>

    <%- include('../includes/footer') %>
    
</body>
</html>