<header>
    <div class="logo">Johannes Beauty Blog</div>
    <button class="menu-toggle" aria-label="Toggle Menu">&#9776;</button>
    <nav>
        <ul class="nav-links">
            <li><a href="#">About me</a></li>
            <li><a href="/articles">My Articles</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>