<header>
    <div class="container">
        <div class="logo">Johannes Beauty Blog</div>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" href="#">About me</a></li>
                <li><a class="nav-link" href="/articles">My Articles</a></li>
                <li><a class="nav-link" href="/forum">Forum</a></li>
                <li><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>