<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" type="Text/CSS">
</head>
<body>
<%- include('includes/header')%>

    <main>
        <h1>Welcome to my Blog</h1>
        <h3>Come and have a look inside my head</h3>
        <a href="/articles">My Articles</a>
    </main>

<%- include('includes/footer')%>    
</body>
</html>