<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" type="Text/CSS">
</head>
<body>
<%- include('includes/header')%>
<div class="container">
    <main>
        <h1>Welcome</h1>
        <h3>to my blog</h3>
        <h3>Come and have a look around</h3>
    </main>
</div>
    

<%- include('includes/footer')%>    
</body>
</html>