<!DOCTYPE html>

<%- include('../includes/head', {title: 'Log In | Johannes Blog'}) %>
<body>
    <%- include('../includes/header') %>

    <main>
        <div class="container">
            <h2>Log In</h2>
            <form action="/login" method="post">
                <label for="username-input">Username</label><br>
                <input name="username" class="input-item" id="username-input" type="text" placeholder="Enter username" required></input><br>
                <label for="password-input">Password</label><br>
                <input name="password" class="input-item" id="password-input" type="password" placeholder="Enter password" required><br>
                <button class="btn">login</button>
            </form>
    
            <a class="small-btn sec-btn" href="/signup">or sign up</a>
        </div>
        

        

    </main>

    <%- include('../includes/footer') %>
    
</body>
</html>