<!DOCTYPE html>

<%- include('../includes/head', {title: 'Sign Up | Johannes Blog'}) %>
<body>
    <%- include('../includes/header') %>

    <main>
        <div class="container">
            <h2>Sign Up as a User</h2>
            <form action="/signup" method="post">
    
                <label for="username-input">Username</label><br>
                <input name="username" id="username-input" class="input-item" type="text" placeholder="Enter username" required></input><br>
                <label for="password-input">Password</label><br>
                <input name="password" id="password-input" class="input-item" placeholder="Enter password" type="password" required><br>
    
                <button class="btn">publish</button>
            </form>
    
            <p class="small">signing up will allow you to post in the forum and do other cool stuff</p>
            <p class="small">mainly you will be able to log out</p>
        </div>
    </main>

    <%- include('../includes/footer') %>
    
</body>
</html>