<!DOCTYPE html>

<%- include('../includes/head', {title: 'Log In | Johannes Blog'}) %>
<body>
    <%- include('../includes/header') %>

    <main>
        <h2>Hello <%= user %></h2>

        <p>you are now logged in and can have lOaDS oF FuN on my extremly beautful beauty blog</p>
        <p>maybr you want to post on my <a href="/forum">forum</a></p><br>
        <p>or have a look at my <a href="/articles">articles</a></p><br>
        <p>either way have fun!!</p>
    <%- include('../includes/footer') %>
    
</body>
</html>