<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Resticted Page | Johannes Blog'}) %>
<body>
    <%- include('../includes/header') %>
    <main>
        <div class="container">
            <h1 class="header-huge">404</h1>
            <h1 class="header-big">
                restricted Page
            </h1>
            <h1 class="header-big">Admins only</h1>
        </div>
    </main>

    <%- include('../includes/footer') %>
</body>
</html>